@import '../../styles/shared.styles.scss';

.square {
    font-size: 32px;
    width: 200px;
    height: 200px;
    margin: 8px;
    box-sizing: border-box;
    max-width: 100%;
    color: #9575cd;
    background-color: rgba(149,117,205,.12);
    transition: all .3s ease;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 10px;
    white-space: normal;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}
.square:hover {
    box-shadow: 0 1px 18px 0 rgba(0,0,0,.12), 0 6px 10px 0 rgba(0,0,0,.14), 0 3px 5px -1px rgba(0,0,0,.2);
    border-color: #5e35b1;
    color: #5e35b1;
}
