@import '../../styles/shared.styles.scss';

.game {
   width: 100%;
   display: flex;
}

.game-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    border: solid 3px transparent;
}
.game-info.active {
    border: solid 3px rgb(239, 154, 154);
    -webkit-animation: flash linear 1.5s infinite;
          animation: flash linear 1.5s infinite;
}
@-webkit-keyframes flash {
	0% { border-color: rgba(239, 154, 154, 0); } 
	50% { border-color: rgba(239, 154, 154, 1); } 
	100% { border-color: rgba(239, 154, 154, 0); }
}
@keyframes flash {
	0% { border-color: rgba(239, 154, 154, 0); } 
	50% { border-color: rgba(239, 154, 154, 1); } 
	100% { border-color: rgba(239, 154, 154, 0); }
}
.player-header {
    font-size: 18px;
}

.game-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
}

.game-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
    font-size: 28px;
    padding-bottom: 24px;
}
.game-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-button {
    margin: 0 8px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    min-width: 0;
    border-radius: 50%;
    padding: 0;
    flex-shrink: 0;
    color: #fff;
    background-color: hsl(260, 83%, 63%);
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);

}
.icon-button.disabled {
    background-color: hsl(260, 0%, 63%);
    cursor:not-allowed;
}
.icon-button.disabled:active {
    background-color: hsl(260, 0%, 63%);
    cursor:not-allowed;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.icon-button.lg {
    width: 56px;
    height: 56px;
    font-size: 28px;
}
.icon-button.sm {
    width: 40px;
    height: 40px;
    font-size: 18px;
}
.icon-button:active {
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
}
.raised-button {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0 16px;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    color: #fff;
    background-color: hsl(1, 83%, 63%);
}
.raised-button:active {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.game-board {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 24px;
    border-radius: 2px;
    background: #fff;
    color: rgba(0,0,0,.87);
}