html {
  margin: 0;
  height: 100%; }

body {
  height: 100%;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  margin: 0px;
  overflow: hidden;
  background: #fafafa; }

#root {
  height: 100%; }
